<% include ../partials/header %>
<div class="container">
        <hr>
       <h2>Profile</h2>
       <div class="row">
           <div class="col-2 text-right">
                <img src="/images/circle-09.png" alt="Avatar" class="avatar">
           </div>
           <div class="col-2">
                <p><%= currentUser.username %></p>
                <p class="text-capitalize"><%= currentUser.usertype %> services</p>
           </div>
    </div>
    <a href="/services/new">Add new Service</a>
<div class="row flex-wrap"> 
    <% services.forEach(function(service) { %>
        <% if(currentUser && service.author.id.equals(currentUser._id)){ %>
    <div class="col-sm-6 col-md-6 col-lg-3 py-3">
        <div class="card">
            <img class="card-img-top" src="<%= service.image %>">
            <div class="card-body">
                <h4><%= service.type %></h4>
                <p><%= service.name %></p>
                <p><%= service.description %></p>
            </div>
            <a href="/services/<%= service.id %>" class="btn btn-warning">Details</a>
        </div>
    </div>
       <% }%>
    <% }); %>
</div>
</div>

<% include ../partials/footer %>