<!DOCTYPE html>
<html>
    <head>
        <title>Services App</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">Services App</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                                <a class="nav-link" href="/services">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <% if(currentUser){ %>
                        <li class="nav-item">
                          <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Offer</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Message</a>
                        </li>
                        <% } %>
                    </ul>
                        <ul class="navbar-nav justify-content-end">
                            <% if(!currentUser){ %>
                            <li class="nav-item">
                                    <a class="nav-link" href="/login">Login</a>
                                </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                            </li>
                            <% } else { %>
                              <li class="nav-item"><a class="nav-link" href="/profile">Signed In As <%= currentUser.username %></a></li>
                            <li class="nav-item">
                              <a class="nav-link" href="/logout">Logout</a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                  </nav>
        
       