<% include ../../partials/header %>
<div class="container">
        <h1 style="text-align: center">Edit Comment</h1>
    <div class="row">
        <div style="width: 40%; margin: 25px auto;">
            <form action="/services/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/services">Go Back</a>
        </div>
    </div>
</div>
<% include ../../partials/footer %>

