<% include ../partials/header %>
<div class="container">
    <hr>
        <h4 style="text-align: center">Add New Comment to <%= service.name %></h4>
    <div class="row">
        <div style="width: 40%; margin: 25px auto;">
            <form action="/services/<%= service._id %>/comments" method="POST">
                <div class="form-group">
                    <textarea rows="3" class="form-control" type="text" name="comment[text]" placeholder="text"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary btn-block">Submit!</button>
                </div>
            </form>
            <a class="btn btn-light btn-block" href="/services">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>