<% include ./partials/header %>
<div class="alert alert-danger" role="alert">
    <%= message %>
</div>
<div class="container">
        <h3 class="text-center text-uppercase">Login!</h3>
<div class="row">
    <div style="width: 40%; margin:20px auto;">
        <form action="/login" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Your Email">
             </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-secondary btn-block text-uppercase">Login</button>
            </div>
        </form>
        <a class="btn btn-light btn-block text-uppercase" href="/register">New User? Sign Up Now</a>
    </div>
</div>
<% include ./partials/footer %>