<% include ./partials/header %>

<div class="container">
        <h3 class="text-center text-uppercase">Sign Up!</h3>
<div class="row">
    <div style="width: 40%; margin:20px auto;">
        <form action="/register" method="POST">
            <div class="form-group">
                <p>User Type:</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="seeking" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Seaking For Service
                </label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="offering">
                    <label class="form-check-label" for="exampleRadios1">
                        Offering Service
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Your Email">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Your Password">
            </div>
            <div class="form-group">
                <button class="btn btn-secondary btn-block text-uppercase">Signup</button>
            </div>
        </form>
        <a class="btn btn-light btn-block text-uppercase" style="font-size: 15px" href="/login">Already have an account? Log in</a>
</div>
</div>
<% include ./partials/footer %>