
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

i{
  font-size: 1.5rem;
}

.navbar{
  background-color: #dd6b4d !important;
}

.hero{
  width: 100%;
  height: 100%;
  max-height: 500px;
  min-height: 380px;
  position: relative;
  color: white;
}

.hero::before {
  background-image: url(/images/background-2.jpg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
  }

  @media (min-width: 320px) {
    .hero::before {
    background-image: url(/images/background-2.jpg);
    }
    }
    
    @media (min-width: 460px) {
    .hero::before {
    background-image: url(/images/background-2.jpg);
    }
    }
    
    @media (min-width: 720px) {
    .hero::before {
    background-image: url(/images/background-2.jpg);
    }
    }
    
    @media (min-width: 980px) {
    .hero::before {
    background-image: url(/images/background-2.jpg);
    }
    }
    
    @media (min-width: 1240px) {
    .hero::before {
    background-image: url(/images/background-2.jpg);
    }
    }
    
    @media (min-width: 1500px) {
    .hero::before {
    background-image: url(/images/background-2.jpg);
    }
    }
    
    @media (min-width: 1760px) {
    .hero::before {
    background-image: url(/images/background-2.jpg);
    }
    }

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero::after {
  background: linear-gradient(180deg,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),linear-gradient(180deg,rgba(0,0,0,0.2) 0%,transparent 100%);
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  }

  .form-services {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.container-services{
  padding-left: 20px;
  padding-right: 20px;
}

.avatar {
  background-color: #dd6b4d;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}