<% include ../partials/header %>
<div class="container">
        <h4 style="text-align: center">Edit <%= service.name %></h4>
    <div class="row">
        <div style="width: 40%; margin: 25px auto;">
            <form action="/services/<%= service._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="service[name]" value="<%= service.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="service[image]" value="<%= service.image %>">
                </div>
                <div class="form-group">
                    <textarea rows="3" class="form-control" type="text" name="service[description]"><%= service.description %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-secondary btn-block">Submit!</button>
                </div>
            </form>
            <a class="btn btn-light btn-block" href="/services">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>