<% include ../partials/header %>
<header class="hero flex-center">
        <div class="container align-content-center" style="width: 50%; margin:20px auto;">
                <h1>Services offered by <span style="color:black">talented experts</span>.</h1>
            <form action="/search" method="POST" class="input-group my-md-5">
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search for services by name or type of service">
                <button class="btn btn-outline-secondary my-0 my-sm-0" type="submit">Search</button>
            </form>
    </div>
</header>
<div class="container-services">
<h3>Experts Service Offers</h3>
<a href="/services/new">Add new Service</a>
<div class="row flex-wrap"> 
    <% services.forEach(function(service) { %>
    <div class="col-sm-6 col-md-6 col-lg-3 py-3">
        <div class="card">
            <img class="card-img-top" src="<%= service.image %>">
            <div class="card-body">
                <h4><%= service.type %></h4>
                <p><%= service.name %></p>
                <p><%= service.description %></p>
                <a href="/services/<%= service.id %>" class="btn btn-outline-info">More Info</a>
            </div>
        </div>
    </div>
    <% }); %>
</div>
</div>
<% include ../partials/footer %>
