<% include ../partials/header %>
<div class="container">
    <hr>
        <h4 class="text-center">Create a New Service</h4>
<div class="row">
        <div style="width: 40%; margin:20px auto;">
        <form action="/services" method="POST">
            <input class="form-control" type="text" placeholder="Name" name="name"><br/>
            <input class="form-control" type="text" placeholder="Service Type" name="type"><br/>
            <input class="form-control" type="text" placeholder="Image" name="image"><br/>
            <textarea class="form-control" rows="3" type="text" placeholder="Description" name="description"></textarea><br/>
            <button class="btn btn-lg btn-secondary btn-block">Submit!</button>
        </form>
        <a class="btn btn-light btn-block" btn-block" href="/services">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>
</div>