<% include ../partials/header %>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-3">
            <p>Service</p>
            <div class="list-group">
                <li class="list-group-item active"><%= service.type %></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="/<%= service.image %>">
                <div class="caption">
                    <span><%= service.name %></span>
                    <p><%= service.description %></p>
                    <p><em>Submitted By <strong><%=service.author.username %></strong></em></p>
                    <% if(currentUser && service.author.id.equals(currentUser._id)){ %>
                        <div class="btn-group align-rigth">
                        <a class="btn btn-warning btn-md" href="/services/<%= service._id %>/edit">Edit</a>
                        <form id="delete-form" action="/services/<%= service._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    </div>
                    <% }%>
                </div>
            </div>
            <div class="card bg-light">
                <div class="text-right p-3">
                        <p><a class="btn btn-success" href="/services/<%= service._id %>/comments/new">Add a New Comment</a></p>
                        <hr>
                </div>
                <% service.comments.forEach(function(comment){%>
                    <div class="row">
                        <div class="col-md-12">Created by <strong><%= comment.author.username %></strong>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <div class="btn-group align-rigth">
                                <a class="btn btn-md btn-warning" 
                                   href="/services/<%=service._id %>/comments/<%=comment._id %>/edit">Edit</a>
                                <form id="delete-form" action="/services/<%=service._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
<% include ../partials/footer %>
